.footer {
	padding: rem(35) 0;
	margin-top: auto;
	border-top: #e2e2e2;
	background: #f7f7f7;
	font-size: $small;

	&__copyright { 
		color: rgba(139, 139, 139, 0.5);
		margin-bottom: rem(20);
	}
	
	&__dev {
		color: rgba(139, 139, 139, 0.5);
		letter-spacing: rem(2px);
		@include media-breakpoint-up(sm) {
			letter-spacing: rem(2.8px);
		}

		a {
			color: #000;
			display: inline-block;

			&:hover {
				color: rgba($color: #000000, $alpha: 0.5);
			}
		}
	}


@include media-breakpoint-up(xs) {}
@include media-breakpoint-between(md, xl) {}
@include media-breakpoint-only(xl) {}
@include media-breakpoint-down(xs) {}
}
