mixin footer()
	+b.FOOTER.footer
		.container
			.row
				.col-md
					+e.copyright ©2014 Fudi. All Rights Reserved.
				.col-auto
					+e.dev DESIGN BY: 
						a(href="#" target="_blank") WWW.BEKADES.COM
