
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-signUp"  style="display: none" )
		+b.modal-win
			+form-wrap().text-center
				+e.logo(href="/")
					+pic('logo(1).png')
				+e.title.form-data.ttu Sign-up

				+input("Username")(required)  
				+input("Email",'email')(required)  
				+input("password", 'password')(required)  
				+e.BUTTON.btn.btn.btn-primary.ttu(type="submit") Sign Up
				p.ttu if you alreary have an account 
				+e.link.d-inline-block.ttu(href="#") sign up

	div(id="modal-logIn"  style="display: none" )
		+b.modal-win
			+form-wrap().text-center
				
				+e.logo(href="/")
					+pic('logo(1).png')
				+e.title.form-data.ttu Log-in

				+input("Username or email")(required)  
				+input("password", 'password')(required)  
				+e.BUTTON.btn.btn.btn-primary.ttu(type="submit") Log in
				p.ttu.d-block don't have an account 
					+e.SPAN.link(href="#") sign up
	
	// end modals