:root {
	--fancybox-content-bg: none;
}

.fancybox__content {
	padding: 0;
	max-width: 100%;
}
.modal-win {
	// display: block;
	background: linear-gradient(180deg, #33184b 0%, #a98970 100%);
	color: #fff;
	max-width: 100%;
	position: relative;
	width: rem(600);
	// min-height: 100%; 
	padding: rem(40);
	@include media-breakpoint-up(md) {
		padding: rem(70) rem(40);
	}

	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}

	.form-wrap {
		&__logo {
			display: inline-block;
			max-width: rem(40);
			margin-bottom: rem(20);
			@include media-breakpoint-up(sm) {
				margin-bottom: rem(40);
			}
		}

		&__title {
			font-size: rem(20);
			margin-bottom: rem(20);
			@include media-breakpoint-up(sm) {
				margin-bottom: rem(30);
			}
		}

		&__btn {
			margin-top: rem(10);
			margin-bottom: rem(20);
			width: 100%;
		}

		&__link {
			color: #fff;
			border-bottom: solid 1px;

			&:hover {
				border-color: transparent;
			}
		}
	}

	p {
		margin-bottom: rem(5);
	}
}

.fancybox__content>.carousel__button.is-close {
	top: rem(10);
	right: auto;
	left: rem(10);
	border-radius: 50%;
	background: rgba($color:$white, $alpha: 0.1);
}

.form-wrap {
	&__input-wrap {
		padding-bottom: rem(15);
	}
	&__input {}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {

	.fancybox__container {
		width: 100% !important;
		min-height: 100%; 
		transform: none !important;
	}
}


