// start .sSlider
.sSlider {
	// --sPT: ;
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(80)};
	}
	// --sTPB: ;
	position: relative;
	color: #fff;

	--bs-primary: #fff;

	.swiper-pagination-bullet {
		opacity: 0.5;

		&-active {
			opacity: 1;
		}
	}

	.picture-bg {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__imgWrap {
		margin-bottom: rem(15);
	}

	&__slide {
		text-align: center;
		max-width: rem(890);
		margin-left: auto;
		margin-right: auto;
	}

	&__txt {
		@include rfs(30px);
		line-height: 1.45;
		font-weight: 100;
		margin-bottom: rem(15);
	}

	&__name, &__txt {
		opacity: .8;
	}

	&__name {
		font-style: italic;
		font-weight: 300;
		font-size: rem(18);
	}

	&__slider {
		padding-bottom: rem(34);
	}


	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSlider

.swiper-pagination-bullet {
	width: rem(10);
	height: rem(10);
	margin: 0 rem(5);
}

.swiper-pagination {
	display: flex;
	justify-content: center;
}