mixin mob-mnu()
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js(type="button")
			span
		+e.inner.text-center
			+mnu()
			+e.tel(href="tel:+380979999999") +380 97 99 99 999
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row.align-items-center
				.col-auto 
					a(href="/")
						+pic('logo(1).png')
				.col 
					+e.linkWrap 
						+e.link.link-modal-js(href="#modal-logIn") LOG IN
						+e.link.link-modal-js(href="#modal-signUp") SIGN UP
				.col-auto
					+b.toggle-menu-mobile--js(type="button")
						span

	// end top-nav